*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width: 100%;
   border: 1px solid red;
}
body{
    font-family: 'Roboto', sans-serif;
}
nav a{
    display: inline-block;
    border-radius: 15px;
    color:white;
    padding: 2%;
    margin:5% 5% 5%;
}
nav a.plan:hover{
    color:mediumslateblue;
}
nav a.learn:hover{
    color:fuchsia;
}
nav a.join:hover{
    color:olive;
}
.container{
    display:inline-block;
}
}
h1 {
    font-family: 'Chelsea Market', cursive;
    text-align: center;
}
p {
    text-align: center;
}
.plan {
    background-color:#FF764E;
}
.learn{
    background-color:#5ED3EB;
}
.join{
    background-color:#FFCD69;
}

/*Images section*/
#valley{
    border-radius: 50%;
    width: 15%;
    margin:0 9%;
}
.Natural #fire{
    height: 25%;
    width:25%;
    padding: 8%;
    margin: 0 40%;
}
#car{
    height: 25%;
    width: 25%;
    padding: 8%;
    margin: 0 40%;
}
#range{
    
    height:150vh;
}
/*End of Images section*/

footer{
    background-color: #F9E7DC;
}